/* src/styles/components/tabs.css */

.tabs {
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem 0;
}

.tab-buttons {
    display: flex;
    background-color: #f9f9f9;
}

:global(.tab-button) {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: all 0.2s;
    margin: 0;
    position: relative;
}

:global(.tab-button:not(:last-child)) {
    border-right: none;
}

:global(.tab-button:hover) {
    background-color: #e9e9e9;
}

:global(.tab-button.active) {
    background-color: #2196f3;
    color: #fff;
    border-color: #2196f3;
}

.tab-content {
    padding: 1rem;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
}