---
import BallPool from "@/components/BallPool.astro";
import Section from "@/components/Section.astro";
---

<!-- Interactive Ball Pool Section -->
<Section
	id="word-pool"
	title="MediStrata+ Pool"
	subtitle="Drag and toss the chips"
	centered={true}
>
	<BallPool />
</Section>
