---
import "../styles/components/notice.css";

const { type = "info", title } = Astro.props;
---

<div class={`notice notice-${type}`}>
    {title && <h3 class="notice-title">{title}</h3>}
    <p class="notice-message">
        <slot />
    </p>
</div>
