---
import "../styles/components/tabs.css";
---

<div class="tabs">
    <div class="tab-buttons"></div>
    <div class="tab-content">
        <slot />
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const tabsContainers = document.querySelectorAll(".tabs");
        tabsContainers.forEach((tabsContainer) => {
            const tabButtons = tabsContainer.querySelector(".tab-buttons");
            const tabContent = tabsContainer.querySelector(".tab-content");
            const tabs = tabContent.querySelectorAll("tab-component");

            tabs.forEach((tab, index) => {
                const name = tab.getAttribute("name");
                const button = document.createElement("button");
                button.textContent = name;
                button.classList.add("tab-button");
                if (index === 0) {
                    button.classList.add("active");
                } else {
                    tab.style.display = "none";
                }
                button.addEventListener("click", () => {
                    // Hide all tabs
                    tabs.forEach((t) => (t.style.display = "none"));
                    // Show selected tab
                    tab.style.display = "block";
                    // Update button states
                    tabButtons
                        .querySelectorAll(".tab-button")
                        .forEach((btn) => btn.classList.remove("active"));
                    button.classList.add("active");
                });
                tabButtons.appendChild(button);
            });
        });
    });
</script>
